.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.link {
  text-decoration: none;
}
.option {
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}
