.container {
  height: 100%;
  width: 600px;
}

.scrollbar {
  height: 716px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #8585ad #2f2f37;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.srollbar::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #8585ad;
}
